<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bdsemester" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activitys.ProductActivity"
            android:label="@string/title_activity_product"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".activitys.AccountingActivity"
            android:label="@string/title_activity_accounting"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".activitys.BasketActivity"
            android:label="@string/title_activity_basket"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".activitys.BuyerActivity"
            android:label="@string/title_activity_buyer"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".activitys.CompanyActivity"
            android:label="@string/title_activity_company"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".activitys.DeliveryActivity"
            android:label="@string/title_activity_delivery"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".activitys.SendActivity"
            android:label="@string/title_activity_send"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".activitys.SellerActivity"
            android:label="@string/title_activity_seller"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".activitys.ProviderActivity"
            android:label="@string/title_activity_provider"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
